<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dxy.mapper.MoveoutMapper">

    <insert id="insert">
        insert into moveout (id, student_id, dormitory_id, reason, create_date)
        VALUES (null, #{studentId}, #{dormitoryId}, #{reason}, #{crateDate})
    </insert>
    <select id="record" resultType="com.dxy.entity.Moveout">
        select m.id, s.name studentName, d.name dormitoryName, m.reason, m.create_date
        from moveout m
                 left join student s on m.student_id = s.id
                 left join dormitory d on m.dormitory_id = d.id;
    </select>
    <select id="recordSearchByStudentName" resultType="moveout">
        select m.id, s.name studentName, d.name dormitoryName, m.reason, m.create_date
        from moveout m
                 left join student s on m.student_id = s.id
                 left join dormitory d on m.dormitory_id = d.id
        where s.name like concat('%', #{studentName}, '%')
    </select>

    <select id="recordSearchByDormitoryName" resultType="com.dxy.entity.Moveout">
        select m.id, s.name studentName, d.name dormitoryName, m.reason, m.create_date
        from moveout m
                 left join student s on m.student_id = s.id
                 left join dormitory d on m.dormitory_id = d.id
        where d.name like concat('%', #{dormitoryName}, '%')
    </select>


</mapper>
